*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    margin-bottom: 30px;
    background-color: violet;
    border: 2px solid black;
}
.contentrow{
    margin: 0 auto;
    justify-content: center;
}
#content{
    background-color: violet;
    padding: 10px 20px;
    border: 2px solid black;
}
#menulist{
    display: none;
}
a{
    color: chartreuse;
}


@media (max-width:767px){
    #menulist{
        display: block;
    }
    #collapsable-nav{
        background-color: grey;
    }
}